HOST=0.0.0.0
PORT=8000
DEBUG=True

PROFILE=dev

POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

SECRET_KEY=your_secret_key_here

API_CPU_LIMIT=0.5
API_MEMORY_LIMIT=512M
API_CPU_RESERVATION=0.25
API_MEMORY_RESERVATION=256M

POSTGRES_CPU_LIMIT=1.0
POSTGRES_MEMORY_LIMIT=1G
POSTGRES_CPU_RESERVATION=0.5
POSTGRES_MEMORY_RESERVATION=512M

CORS_ORIGINS=http://localhost:3000

DEFAULT_PER_PAGE=
MAX_PER_PAGE=
DEFAULT_PAGE=

S3_ROOT_USER=your_s3_root_user
S3_ROOT_PASSWORD=your_s3_root_password
S3_ACCESS_KEY=S3accesskey
S3_SECRET_KEY=S3secretkey
S3_BUCKET_NAME=linguo-data
S3_ENDPOINT=http://s3:9000

# NGINX config folder
# init stage (before SSL cert):  dev/init | prod/init
# prod stage (after SSL cert):   dev      | prod
NGINX_CONF_FOLDER=
APP_WORKERS=4
WEB_SERVER=172.18.0.0/16


ML_EXTERNAL_API_BASE_URL=""
ML_EXTERNAL_API_TIMEOUT=30
ML_EXTERNAL_API_RETRY_ATTEMPTS=3
ML_EXTERNAL_API_RETRY_DELAY=1.0
